@import './normalize.css';
@import '../../../node_modules/bulma/css/bulma.css';

.center-text{
  text-align: center
}

.is-cursor{
  cursor: pointer;
}

.is-bold{
  font-weight: bold;
  color: orange;
  font-size: 1.25em;
}

.outline{
  border: 2px solid red ;
}
